@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

footer {
  position: fixed;
  background: #f6f8fa;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #afafb6;
}

footer .bottomDetails {
  width: 100%;
  background: #f6f8fa;
}

footer .bottomDetails .bottomText {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottomDetails .bottomText span,
.bottomDetails .bottomText a {
  font-size: 14px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  text-decoration: none;
}

.bottomDetails .bottomText a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottomDetails .bottomText a {
  margin-right: 10px;
}
